* {
  padding: 0;
  margin: 0;
}

p, button {
  font-family: 'Raleway';
  font-size: 20px;
  margin: 10px;
  letter-spacing: 0.014em;
}

button:focus {
  outline: none !important;
  font-weight: 600;
}

#quote {
  font-weight: 600;
}

#author {
  text-align: right;
}